# OS / IDE 불필요 파일
*.DS_Store
*.idea
*.iml
*.class
*.log

# Git 관련
.git
.gitignore

# 빌드/캐시 관련
# build/
.gradle/
out/

# 환경 파일 
.env

# 테스트 관련
src/test/

# Docker 관련 자기 자신
Dockerfile
docker-compose.yml
compose.yml
